version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./back-end
    container_name: fastapi_backend
    command: uvicorn src.main:app --host 0.0.0.0 --port ${BACKEND_PORT} --reload
    env_file:
      - .env
    volumes:
      - ./back-end:/code
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    depends_on:
      - db

  frontend:
    build:
      context: ./front-end
    container_name: react_frontend
    command: npm run dev -- --host
    env_file:
      - .env
    volumes:
      - ./front-end:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  postgres_data:
